<!DOCTYPE html>
<html>
<head>
  <title>Poker</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css" media="screen">
  <script src="../stylesheets/jquery-1.11.3.min.js"></script>
  <script type="text/javascript"></script>
  <script src="../controllers/app.js"></script>
</head>

<body class='bgpic'>
 
<maintable>
  <div class='col-3'></div>
  <div class='col-3'>
    <div><input class='btn center ' id='player6-cards' placeholder="Player6"></input></div>
  </div>
  <div class='col-1'></div>
  <div class='col-3'>
    <div><input class='btn center' id='player1-cards' placeholder="Player1"></input></div>
  </div>

  <div class='col-12'></div>

  <div class='col-1'></div>
  <div class='col-2'>
    <div><input class='btn center' id='player5-cards' placeholder="Player5"></input></div>
  </div>
  <div class='col-6'></div>
  <div class='col-2'>
    <div><input class='btn center' id='player2-cards' placeholder="Player2"></input></div>
  </div>  

  <div class='col-12'></div>

  <div class='col-3'></div>
  <div class='col-3'>
    <div><input class='btn center' id='player4-cards' placeholder="Player4"></input></div>
  </div>
  <div class='col-1'></div>
  <div class='col-3'>
    <div><input class='btn center' id='player3-cards' placeholder="Player3"></input></div>
  </div>
</maintable>

</body>
