<!DOCTYPE html>
<html>
<head>
  <title>Poker</title>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css" media="screen">
  <script src="../stylesheets/jquery-1.11.3.min.js"></script>
  <script type="text/javascript"></script>
  <script src="../controllers/app.js"></script>
</head>

<body>
 

  <div class='col-3'>
    <div id='player1-name'>
    </div>
    <div><input class='btn' id='player1-cards' placeholder="Player1"></input></div>
  </div>

  <div class='col-6'></div>  this needs to have  transparent border t hold shape

  <div class='col-3'>
    <div id='player2'>
    </div>
    <div><input class='btn' id='player1-cards' placeholder="Player2"></input></div>
  </div>


</body>
